<!DOCTYPE = html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<meta name="description" content="Meg Grasse's Personal Website">
	<meta name="keywords" content="Meg, Grasse, Margaret, Meg Grasse, Margaret Grasse">
	<meta name="author" content="Meg Grasse">
	<link rel="stylesheet" href="../imports/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../imports/font-awesome-4.3.0/css/font-awesome.min.css">
	<link href="../stylesheets/main.css" rel="stylesheet">
	<title> Meg Grasse </title>
	<link rel="icon" href="favicon.ico">
</head>
<body>
	<?php include_once("analyticstracking.php") ?>
		<div class="container sidebar-container">
			<div class = "sidebar">
				<ul class="list-unstyled sans-serif sidebar-tabs">
					<li>
						<h1><a class="heading" href="../index.html">Meg Grasse</a></h1>
					</li>
					<li><a href="./about.html">About</a></li>
					<li><a href="./projects.html">Projects</a></li>
					<li><a>Resume</a></li>
					<li><a>Personal</a></li>
				</ul>
				<ul class="list-unstyled sans-serif list-inline sidebar-icons">
					<li><a href="mailto:meggrasse@gmail.com"><i class ="fa fa-lg fa-envelope"></i></a></li>
					<li><a href="https://github.com/meggrasse"><i class="fa fa-lg fa-github"></i></a></li>
					<li><a href="https://www.linkedin.com/in/meggrasse"><i class="fa fa-lg fa-linkedin"></i></a></li>
				</ul>
			</div>
		</div>
	<div class="container content-container">
		<div class="about sans-serif">
			<h1>About Me</h1>
			<img class="img-circle" src="../imgs/wildcard1.png" alt="Meg" style="width:150px;height:150px;">
			<p>Passionate about empowerment through technology; universal access to information; connectivity to people, data, and opportunities;
				 and the mathematical models and computing that move these initiatives forward.</p>
		</div>
	</div>
</body>
</html>
