<!DOCTYPE = html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<meta name="description" content="Meg Grasse's Personal Website">
	<meta name="keywords" content="Meg, Grasse, Margaret, Meg Grasse, Margaret Grasse">
	<meta name="author" content="Meg Grasse">
	<link rel="stylesheet" href="../imports/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../imports/font-awesome-4.3.0/css/font-awesome.min.css">
	<link href="../stylesheets/main.css" rel="stylesheet">
	<script src="../index.js"></script>
	<title> Meg Grasse </title>
	<link rel="icon" href="favicon.ico">
</head>
<body>
	<?php include_once("analyticstracking.php") ?>
	<div class="sidebar-container container">
		<div class="sidebar">
			<ul class="list-unstyled sans-serif sidebar-tabs">
				<li>
					<h1><a class="heading" href="../index.html">Meg Grasse</a></h1>
				</li>
				<li><a href="./about.html">About</a></li>
				<!-- <li><a href="./projects.html">Projects</a></li> -->
				<li><a href="../grasse_resume.pdf">Resume</a></li>
			</ul>
			<ul class="list-unstyled sans-serif list-inline sidebar-icons">
				<li><a href="mailto:meggrasse@gmail.com"><i class ="fa fa-lg fa-envelope"></i></a></li>
				<li><a href="https://github.com/meggrasse"><i class="fa fa-lg fa-github"></i></a></li>
				<li><a href="https://www.linkedin.com/in/meggrasse"><i class="fa fa-lg fa-linkedin"></i></a></li>
			</ul>
		</div>
	</div>
	<div class="container content-container">
		<div class="about sans-serif">
			<h2>Hi!</h2>
			<img src="../imgs/hacknights.jpg">
			<p>
				I'm an iOS developer passionate about using software to enhance humanity: foster connectedness among strangers & friends, enrich art, and
				empower marginalized groups. I lean deeply into the empathetic/intuitive design philosophy as well as the iOS development paradigm.
			</p>
			<br>
			<p>
				My research is in maintaining interface representations in the physical and digital realms as realized by <a target="_blank"
				href="http://dtr.northwestern.edu/projects/mixed_fidelity_remote_paper_prototyping">Mixed-Fidelity Remote Paper Prototype Testing.</a>
				I am advised by <a target="_blank" href="http://haoqizhang.com/">Haoqi Zhang</a> as part of the <a target="_blank" href="http://dtr.northwestern.edu">Design, Technology and Research Group</a> in the <a target="_blank" href="http://delta.northwestern.edu">Delta Lab</a>.
			</p>
			<br>
			<p>
				I care deeply about changing tech industry culture to to be inclusive for all, specifically women & non-binary peoples, those with intersectional identities, and beginners.
				I am serving as co-president of <a target="_blank" href="http://www.eecs.northwestern.edu/wic/">Northwestern University Women in Computing</a> for my second year with the goal of creating community among women & non-binary peoples
				interested in tech at Northwestern. I help organize & teach at Hack Nights, an initiative to give beginners the skills they need to get started on their own programming
				projects (<a target="_blank" href="https://www.youtube.com/watch?v=WNvhm5PEhsY">check out my intro to iOS tutorial</a>). I also co-founded <a target="_blank" href="http://buildher.io/">BuildHer</a>, Chicago's first student-run all-women's hackathon, alongside my WiC co-president <a target="_blank" href="http://alainakafkes.github.io">Alaina Kafkes</a>,
				where we created a space for women in build community, learn new skills, and leaving having built something they can be proud of.
			</p>
		</div>
	</div>
	<script>
		changeBackgroundColor("#E79A8E");
	</script>
</body>
</html>
