<!DOCTYPE = html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<meta name="description" content="Meg Grasse's Personal Website">
	<meta name="keywords" content="Meg, Grasse, Margaret, Meg Grasse, Margaret Grasse">
	<meta name="author" content="Meg Grasse">
	<link rel="stylesheet" href="../imports/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../imports/font-awesome-4.3.0/css/font-awesome.min.css">
	<link href="../stylesheets/main.css" rel="stylesheet">
	<script src="../index.js"></script>
	<title> Meg Grasse </title>
	<link rel="icon" href="favicon.ico">
</head>
<body>
	<?php include_once("analyticstracking.php") ?>
	<div class="sidebar-container container">
		<div class="sidebar">
			<ul class="list-unstyled sans-serif sidebar-tabs">
				<li>
					<h1><a class="heading" href="../index.html">Meg Grasse</a></h1>
				</li>
				<li><a href="./about.html">About</a></li>
				<li><a href="./projects.html">Projects</a></li>
				<li><a>Resume</a></li>
				<li><a>Personal</a></li>
			</ul>
			<ul class="list-unstyled sans-serif list-inline sidebar-icons">
				<li><a href="mailto:meggrasse@gmail.com"><i class ="fa fa-lg fa-envelope"></i></a></li>
				<li><a href="https://github.com/meggrasse"><i class="fa fa-lg fa-github"></i></a></li>
				<li><a href="https://www.linkedin.com/in/meggrasse"><i class="fa fa-lg fa-linkedin"></i></a></li>
			</ul>
		</div>
	</div>
	<div class="container content-container">
		<div class="projects sans-serif">
			<h2>My portfolio</h2>
			<br>
			<h1>Enterprise</h1>
			<div class = "project-container">
				<h1>Dillo Day iPhone App</h1>
				<p>iOS app for Northwestern's spring music festival, Dillo Day, the nation's largest student-run music festival</p>
				<p>Features festival lineup, artist previews, sponsor API integration, and push notifications for day-of annoucements.</p>
			</div>
			<h1>Research</h1>
			<div class = "project-container">
				<h1>McGonagall</h1>
				<p>Description</p>
			</div>
			<div class = "project-container">
				<h1>Smart Club</h1>
				<p> Description</p>
			</div>
		</div>
	</div>
	<script>
		changeBackgroundColor("#98FF98");
	</script>
</body>
</html>
