@import url('https://fonts.googleapis.com/css?family=Istok+Web');

body {
  background-color: #FF9500;
}

.sans-serif {
  font-family: 'Istok Web';
  color: black;
}

.sans-serif a {
  color: black;
}

.sidebar a {
  padding: .5rem;
  margin: .5rem;
}

.sans-serif a:not(.heading) {
  font-size: 1.5rem;
  line-height: 3rem;
}

.sidebar-tabs a:hover {
    transition: all ease 0.5s;
    background-color: #FF2A68;
    text-decoration: none;
}

.sidebar-container {
  max-width: 36rem;
}

.content-container {
  max-width: 80rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 2rem;
  display: inline-block;
  vertical-align: top;
  padding: 0 5%;
}

.sidebar {
  border-right: 1px solid #DBDDDE;
}

.sidebar-icons li {
  position: relative;
  top: 0px;

  transition: all ease 0.2s;
}

.sidebar-icons li:hover {
  position: relative;
  top: -3px;
}
